@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --tablet: 768px;
  --smallMonitor: 992px;
  --largeMonitor: 1200px;
  --font-family: 'Open Sans', sans-serif;
}

body {
  font-family: var(--font-family) !important;
  background:#f0f0f0;
}

body ::-webkit-scrollbar {
  width: 6px;
}

.ui.vertical.menu.sidebar-menu {
  margin-top: 40px !important;
  max-height: calc(100% - 40px) !important;
  height: calc(100% - 40px) !important;
}

.ui.vertical.menu.sidebar-menu .item i.icon {
  float: left;
  margin: 0em 0.5em 0em 0em;
}

.ui.tiny.menu {
  position: fixed;
  top:0;
  width: 100%;
  z-index: 999;
}

.pusher {
  margin-top: 40px;
}
.main-content {
  /*margin-top: 40px;*/
}

@media (min-width: 768px) {
  .ui.vertical.menu.sidebar-menu {
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 15rem !important;
  }
  .main-content {
    /*margin-left: 15rem;*/
  }
  .sidebar-menu-toggler {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */

.btn-right-layer {
  position: absolute;
  right: 10px;
  top: 10px;
  margin-top: 0;
  /*display: none;*/
}

.list-layer {
//display: none;
}
.component .card {
  height: 450px;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.refresh.icon {
  cursor: pointer;
}
.ui.list {
  height: 250px;
  overflow-y: auto;
}
.ui.items {
  height: 325px;
  overflow-y: auto;
}
.component-icon {
  width: 100px;
}
.badge-layer {
  position: relative;
}
.badge-layer a {
  color: #000 !important;
}
.badge-layer .badge {
  display: none;
  background: #fd1e1e;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  text-align: center;
  padding: 2px;
  position: absolute;
  top: -5px;
  right: 3px;
  font-size: 10px;
  line-height: 13px;
  color: #fff !important;
}
.btn-actions-layer {
  display: none;
}

.btn-select-module {
  cursor:pointer;
}
.setting {
  cursor: pointer;
}

.setting-layer {
  position: absolute;
  top:30px;
  right: 0;
  padding: 10px;
  width: 260px;
  background: #fff;
  z-index: 999;
  box-shadow: 0px 0px 0px 1px #dddddd;
  display: block;
  width: 270px;
}
.select-module-layer .checkbox {
  margin-bottom: 5px;
  width: 100%;
}

.header-icon {
  width: 30px !important;
  height: 30px !important;
  margin: 0 10px 0 0 !important;
  padding: 0 !important;
}
#daouoffice-layer .ui.list { height: 200px !important;}

.ui.dropdown>.dropdown.icon {
  margin: 0 !important;
}

.ui.header {
  font-size: 20px !important;
}

.component > .card > .content > .header {
  height: 44px;
}

.dimmed.dimmable>.ui.animating.dimmer, .dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer {
  z-index: 99999;
}

.component-move {
  cursor: move;
}

.new-line {
  white-space: pre-line;
}

.hide {
  display:none !important;
}

.show {
  display:block !important;;
}

.list .item {
  position: relative;
}
.list .item img.avatar {
  position: absolute;
  left: 0;
}

.list .item .image_content {
  padding-left: 35px !important;
}


/*.main-content .component {
  //min-width: 420px;
}*/

/*
.ui.column.grid>div>[class*="eight wide tablet"].column, .ui.grid>div>.column.row>[class*="eight wide tablet"].column, .ui.grid>div>.row>[class*="eight wide tablet"].column, .ui.grid>div>[class*="eight wide tablet"].column {
  width: 50% !important;
}*/
